/*********************
**********************
**********************

My styles

**********************
**********************
*********************/

.col-bitmoji {
    display: none;
}

@media (min-width: 768px) {
    .col-bitmoji {
        display: block;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 30px;
        float: left;
        width: 11.11%;
    }
}

.fixed-nav .navigation {
    background-color: #232731;
}

.blog {
    position: relative;
    z-index: 3;
}

.features-extra {
    padding-top: 160px;
    height: 850px;
}

@media screen and (min-width: 1024px) {
    .features-extra {
        padding-top: 300px;
    }
}

.features-extra .macbook-wrap {
    bottom: 60px;
    top: auto;
}

.hero-strip {
    z-index: 4;
}

.game-slider {
    overflow: hidden;
}

.slick-slide img {
    width: calc(100% - 15px);
}

.slick-prev,
.slick-next {
    text-indent: -9999px;
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    z-index: 1;
}

.slick-prev {
    left: -14px;
}

.slick-next {
    right: 0;
}

@media screen and (max-width: 1023px) {
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
}
